* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Kumbh Sans', sans-serif;
    line-height: 30px;

}

/* stili in comune */
.container {
    width: 1200px;
    margin:auto;
    height: auto;
    /* border: 1px solid black; */
}

/* .container::after {
    content: "";
    display: table;
    clear: both; */
}

a {
    text-decoration: none;
}

h3 {
    font-size: 38px;
    line-height: 46px;
    margin-bottom: 26px;
}

h2, h3, h4, h5, p, li {
    color: #32475a;
}



button {
    background-color: #ff7a59;
    color: #fff;
    border: none;
    padding: 24px;
    font-weight: bolder;
    border-radius: 2%;
}

button:hover {
    background-color: rgba(255, 122, 89, 0.4)
}

.leng i {
    color: #425c77;
    font-size: 16px;
}

#menù i {
    color: #425c77;
    font-size: 18px;
}

/* Inizio stile nav */
.nav {
    width: 100%;

}

/* top-nav */

#login-top-nav {
    color: #ff7a59;
    background-color: #fff;
    border: 2px solid #ff7a59;
    border-radius: 2%;
}

#login-top-nav:hover {
    background-color: rgba(255, 122, 89, 0.15)
}

.top-nav {
    width: 100%;
    height: auto;
    background-color: #f4f8fb;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    position: fixed;



}

.sx-box {
width: 50%;
/* height: 100px; */
display: inline-block;
float: left;
}

.fas.fa-globe-europe {
    font-size: 20px;
    color: #425c77;
    margin-right: 16px;
}


.leng {
    display: inline-block;
}

.sx-box {
    padding-top: 30px;
    padding-bottom: 30px;
}

.sx-box span{
    color: #425c77;
    font-size: 16px;
    font-weight: bold;
}


.contact {
    display: inline-block;
    margin-left: 26px;
    border-left: 1px solid rgba(0, 0, 0, 0.2);
    padding-left: 26px;
}

.dx-box {
    width: 50%;
    /* height: 100px; */
    display: inline-block;
    float: right;
    padding-top: 15px;
    padding-bottom: 15px;
}

.hedmenu li {
    display: inline-block;
    text-decoration: none;
}

.dx-box button {
    float: right;
    margin: 10px;
    font-size: 16px;
    padding: 10px;

}


.hedmenu{
    float: right;
}

.logo {
    width: 15%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

}

.logo img {
    width: 100%;
    height: auto;
    }

.main-nav {
    width: 100%;
    background-color: #fff;
    padding-top: 100px;
    display: table;
    position: relative;

}

.navvv {
    width: 100%;
    padding-top: 130px;
}

.menu-main {
    width: 60%;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);

}
#menù ul {
    float: right;

}
#menù li {
    display: inline-block;
}
#menù a {
        color: #425c77;
        text-decoration: none;
        height: 50px;
        line-height: 50px;
        font-size: 18px;
        padding: 0 10px;
        padding: 24px;
        font-weight: bolder;
}

i {
    color: #7d98b6;
}
/* fine stile nav */

/* info sotto nav */
.info-botton-nav {
    background-color: #425c77;
    padding-top: 30px;
    padding-bottom: 30px;
}

.info-botton-nav span {
    color: #fff;
}

.info-botton-nav a {
    color: #fff;
    font-size: 18px;
}

#underline {
    text-decoration: underline;
}

/* fine sotto nav */

/* inizio main centrale con png */
.main {
    width: 100%;
    height: 450px;
    background-color: #fef3ed;
    padding-top: 50px;
}



.title {
    padding-top: 60px;

}

h2 {
    font-size: 50px;
    color: #32475a;
    line-height: 60px;
    font-weight: bolder;
    margin-bottom: 18px;
}

p {
    margin-bottom: 20px;
}



button.get {
    font-size: 18px;
}

/* Inizio service grid */
.servizi {
    width: 100%;
    background-color: #f1f4fb;
    padding: 100px;

}

.top-content h4 {
    color: #425c77;
}

.servizi .container {
    height: 80%;
}

.grid.service {
    content: "";
    display: table;
    clear: both;
}

.fa-circle{
    color: #ff7a59;
    font-weight: bold;
    font-size: 18px;
}

.grid:first-child .nb {
    background-color: #f1f4fb;
}
.go {
    width: 30%;
    float: left;
    background-color: #fff;
    margin: 1%;
    border: 1px solid #f4f8db;
    border-radius: 2px;
}

#firstcell {
    font-size: 20px;

}

.intoget {
    padding: 30px;
}

.down-content {
    margin-top: 30px;
}

.down-content .button{
    margin-top: 30px;
    margin-bottom: 30px;
}

.down-content button {
    font-size: 18px;
    width: 100%;
}

/* fine grid service */


/* inizio grid data */
.data {
    width: 100%;
    background: rgb(0,167,186);
    background: linear-gradient(90deg, rgba(0,167,186,1) 0%, rgba(0,186,167,1) 100%);
}

.descrizione {
    width: 100%;
    padding-top: 90px;

}

.descrizione h3 {
    font-size: 32px;
    font-weight: bolder;
    color: #fff;
    text-align: center;
}

.descrizione p {
    font-size: 17px;
    text-align: center;
    color: #fff;
}

.grid.number {
    padding-bottom: 90px;
}

.grid.number::after {
    content: "";
    display: table;
    clear: both;
}

.box-data {
    width: 25%;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
    float: left;
}

.box-data.udx {
    border-right: none;
}

.box-data.down {
    width: 25%;
    border-right: 1px solid #fff;
    float: left;
    border-bottom: none;
}

.box-data.ddx {
    border: none;
    float: left;
}

.box-data p {
    color: #fff;
    text-align: center;
}

.box-data h3 {
    color: #fff;
    text-align: center;
}


.box-data h2, i {
    font-size: 30px;
    color: #fff;
    text-align: center;
}

.box-data h3 {
    font-size: 50px;
    margin-top: -18px;
}

.box-data span {
    font-size: 30px;
    margin-left: -10px;
    vertical-align: middle;
}

.box-data p {
    margin-top: -20px;
}
/* fine grid data */

/* inizio customers */

.customers {
    padding-top: 80px;
}

.customers-top {
    padding: 90px 0;
}

.customers-top::after {
    content: "";
    display: table;
    clear: both;
}

.customers-testo {
    width: 60%;
    float: left;
}

.customers-logo {
    width: 40%;
    float: left;
}

.customers-logo::after {
    content: "";
    display: table;
    clear: both;
}


.cust-logo {
    width: 25%;
    height: 50%;
    float: left;
    padding: 8px;
}

.cust-logo img {
    width: 100%;
}

.customers-start {
    width: 50%;
    float: left;
}

.customers-down::after {
    content: "";
    display: table;
    clear: both;
}

.customers-img {
    width: 30%;
    height: auto;
    float: right;
}

.customers-img img {
    width: 100%;
}

.customers-down {
    padding-bottom: 90px;
}

#button-customers {
    padding: 20px;
    width: 50%;
}

#p-down-button {
    padding-top: 22px;
}


/* Inizio footer */

.footer {
    background-color: #32475a;
    width: 100%;
    height: auto;
}

.footer li {
    vertical-align: text-top;
}

.li-title {
    display: inline-block;
    width: 24%;
}

.foot-list {
    padding-top: 160px;
}

.li-title a, h4 {
    color: #fff;
    text-decoration: none;
}

.li-div-fff {

    width: 90%;
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 3px;
    padding: 8px;
    margin: 10px 0;
}

.li-div-fff a {
    color: #425c77;
    padding: 20px;
}

.li-div-fff i {
    color: #fff;
}

.li-div-fff li {
}

#ul-ib li {
    display: inline-block;
    padding: 16px;
}

.lang li {
    display: inline-block;
    color: #fff;
    padding: 0 20px;
}

.lang ul {
    padding: 40px 250px;
}

.end-footer {
    padding: 30px 0;
}

.end-footer::after {
    content: "";
    display: table;
    clear: both;
}

.foot-logo {
    width: 22%;
}

#fff-p {
    color: #fff;
}

.foot-logo img {
    width: 100%;
}

.end-foot-sx{
    width: 50%;
    float: left;
}
.end-foot-dx {
    width: 30%;
    float: right;
}

.end-foot-dx li {
    color: #fff;
    font-weight: bolder;
    display: inline-block;
    float: right;
    padding-left: 30px;
}

/* bot fixed */

.chat-bot {
    position: fixed;
    bottom: 5%;
    left: 94%;


}

.chat {
    width: 80px;
    height: 80px;

}



.chat img {
    width: 100%;
}
